<h2>Your Posts</h2>
{{#each posts}}
    <article>
        <h2><a href="/post/{{id}}">{{title}}</a></h2>
        <p>Created on {{format_date createdAt}}</p>
    </article>
{{/each}}
<a href="#" class="btn btn-primary" id="newPost">New Post</a>
<form id="newPostForm" class="mt-4" style="display:none;">
  <div class="form-group">
    <input type="text" id="postTitle" class="form-control" placeholder="Post Title">
  </div>
  <div class="form-group">
    <textarea id="postContent" class="form-control" placeholder="Post Content"></textarea>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
<script src="/js/post.js"></script>